cpugraph.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
gpugraph.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
ramstats.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
ssdgraph.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
pyweather.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
pyweather-weekly.ini text working-tree-encoding=UTF-16LE-BOM eol=CRLF
